@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.container {

  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  /* min-height: 80vh; */
  /* background: red; */
}

.userContainer {
  display: flex;
  flex-direction: column;
  /* background-color: orange; */
  /* padding: 10px 20px; */

  align-items: center;
  justify-content: center;
  border-radius: 20px;
  /* border: 1px solid black; */
  width: 500px;
}

.Users {
  padding: 10px 20px;
}
.UserH {
  font-weight: 900;
  font-size: 20px;
}

.userTable {
  height: 20%;
  border-radius: 20px;
  width: 100%;
}
.tableHContainer {
  padding: 30px 20px;
  display: flex;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: rgb(43, 125, 226);
  color: white;
}
.list {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 800;
  width: 100%;
  /* background-color: green; */
  /* border-bottom: 1px solid grey; */
}
.list > span {
  margin: auto;
  padding: 20px 20px;
  text-align: center;

  width: 100%;
  border-bottom: 1px solid grey;
}

.list > span:hover {
  background-color: grey;
  color: white;
  /* border-radius: 20px; */
  /* border-bottom: none; */
}
.list > span:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hide {
  display: none;
}

/* Styling the post page */
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.subContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;
  /* background-color: red; */
}

.postContainer {
  /* flex: 1; */
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px 20px;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(43, 125, 226);
}

.postTitle {
  font-weight: 900;
}
.postBody {
  font-weight: 200;
  color: rgb(235, 235, 235);
}

.back {
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  color: rgb(235, 235, 235);
  padding: 15px 25px;
  font-size: 16px;
  border-radius: 50px;
  border: none;

  background: linear-gradient(315deg, #2e86f2, #2771cb);
  /* box-shadow: -20px -20px 60px #2b7ce0, 20px 20px 60px #2b7ee4; */
}

.back:focus {
  cursor: pointer;
  color: white;
  border-radius: 50px;
  background: #6698d6;
  box-shadow: inset -20px -20px 60px #6596d4, inset 20px 20px 60px #679ad8;
}
